<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intelligentler.shuitu.dao.PowerMapper">
  <resultMap id="BaseResultMap" type="com.intelligentler.shuitu.entity.Power">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="INTEGER" property="code" />
  </resultMap>
  <sql id="Base_Column_List">
    p.id, p.name, p.code
  </sql>
  <select id="getAllGroupPowerBygid" resultType="com.intelligentler.shuitu.vo.GroupPowerVo">
  	select gp.gid, p.name as pname
  	from power p,groupPower gp
  	where p.code=gp.power and gp.gid=#{gid}
  </select>
  <select id="selectAdminPower" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from power p,adminPower ap
    where p.code=ap.power and ap.admin=#{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from power
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.intelligentler.shuitu.entity.Power">
    insert into power (id, name, code)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.intelligentler.shuitu.entity.Power">
    insert into power
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.intelligentler.shuitu.entity.Power">
    update power
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intelligentler.shuitu.entity.Power">
    update power
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>